@font-face {
    font-family: "Nikosh";
    src: url("fonts/Nikosh.eot"); /* IE9 Compat Modes */
    src: url("fonts/Nikosh.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("fonts/Nikosh.ttf") format("truetype"),
         url("fonts/Nikosh.svg") format("svg"), /* Legacy iOS */
         url("fonts/Nikosh.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: nikosh;
    margin: 0;
    padding: 0;
}
.bg{
    background: #bdc3c7c0;
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 100px;
    text-align: center;
    background: -webkit-linear-gradient(#8e44ad, #3498db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: .2s;
    transition: .2s;
    padding: 50px 0;
}
h1:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.buttons{
    width: 250px;
    margin: 0 auto;
    overflow: hidden;
}
.buttons a{
    color: #151f29;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    margin-bottom: 30px;
    padding: 13px 0;
    background: -webkit-gradient(linear,left top, left bottom,from(#d35400),to(#e67e22));
    background: linear-gradient(#d35400,#e67e22);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px;
}


@media screen and (max-width: 480px){
    .container{
        width: 90%;
    }
    h1{
        font-size: 80px;
        margin: 30px 0;
    }
    .buttons{
        width: 100%;
    }
    .buttons a{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 210px){
    h1{
        font-size: 50px;
        margin: 30px 0;
    }
    .buttons a{
        font-size: 22px;
    }
}